/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://next.vuetifyjs.com/features/sass-variables/`
// @use 'vuetify' with (
//   $color-pack: false
// );
.v-application {
  height: 100vh;
}
.v-main {
  height: 100%;
}
.v-application .primary--text {
  color: #455A64 !important;
}
@media (min-width: 960px) {
  .v-toolbar__content, .v-container {
    max-width: unset !important;
  }
}
@media (min-width: 1280px) {
  .v-toolbar__content, .v-container  {
    max-width: 1200px !important;
  }
}
@media (min-width: 1920px) {
  .v-toolbar__content, .v-container  {
    max-width: 1400px !important;
  }
}
@media (min-width: 2560px) {
  .v-toolbar__content, .v-container  {
    max-width: 2400px !important;
  }
}
.v-toolbar__content > .v-toolbar-title {
  margin-inline-start: 0px;
}
.v-toolbar__content {
  margin-inline-start: 0px;
  margin-left: auto;
  margin-right: auto;
  transition: none;
}
.v-container {
  padding: 0px !important;
}
.v-row {
  margin: 0px !important;
}
.v-col {
  margin: 0px !important;
  padding: 0px !important;
}
.v-toolbar .v-container > .v-row > .v-col,
.v-main > .v-container > .v-row > .v-col {
  padding: 16px !important;
}
.text-container {
  gap: 8px;
  display: flex !important;
  flex-direction: column !important;
}
.text-normal {
  color: #455A64;
  text-align: justify !important;
}
.text-hl {
  color: #4CAF50;
  font-weight: 500 !important;
}
.v-selection-control__wrapper {
  width: 40px;
  height: 40px;
}
